{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Padel Rivera</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900"> 

    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-datepicker.css' %}">
    
    
    <link rel="stylesheet" href="{% static 'website/fonts/flaticon/font/flaticon.css' %}">
  
    <link rel="stylesheet" href="{% static 'website/css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

    <link rel="icon" href="{% static 'website/images/favicon.ico' %}">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap">
      <div class="site-navbar-top">
        <div class="container py-2">
          <div class="row align-items-center">
            <div class="col-6">
              <a href="#" class="p-2 pl-0"><span class="icon-twitter"></span></a>
              <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>
              <a href="#" class="p-2 pl-0"><span class="icon-linkedin"></span></a>
              <a href="#" class="p-2 pl-0"><span class="icon-instagram"></span></a>
            </div>
            <div class="col-6">
              <div class="d-flex ml-auto">
                <a href="https://wa.me/5493516267863" class="d-flex align-items-center ml-auto mr-4">
                  <span class="flaticon-whatsapp mr-2"></span>
                  <span class="d-none d-md-inline-block">+54 9 351 626 7863</span>
                </a>
                <a href="https://wa.me/5493512046022" class="d-flex align-items-center">
                  <span class="flaticon-whatsapp mr-2"></span>
                  <span class="d-none d-md-inline-block">+54 9 351 204 6022</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="site-navbar">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-2">
              <h2 class="mb-0 site-logo"><a href="/"> </a></h2>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li><a style="color: whitesmoke;" href="/">Home</a></li>
                    <li>
                      <a style="color: whitesmoke;" href="/reservations/">Reservas</a>
                      {% if message %}
                      <script>alert("Debe estar logueado para realizar reservas online");</script>
                      {% endif %}
                    </li>
                    <li><a style="color: whitesmoke;" href="/contact/">Cont&aacutectenos</a></li>
                    <li>
                      {% if request.user.is_authenticated %}
                         <a style="color: whitesmoke;" href="{% url 'logout' %}">Logout</a>
                      {% else %}
                         <a style="color: whitesmoke;" href="{% url 'login' %}">Login</a>
                      {% endif %}
                  </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-blocks-cover" style="background-image: url({% static 'website/images/hero_bg_2.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-7">
            <span class="sub-text">Somos</span>
            <h1>PADEL <strong>RIVERA</strong></h1>
          </div>
        </div>
      </div>
    </div>  

    <div class="site-block-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <span class="icon flaticon-tenis font-weight-light text-white h2"></span>
              </div>
              <div class="text">
                <h3>Cancha Techada</h3>
                <p>Perfecto para d&iacuteas de viento o sol.</p>
              </div>
            </div>   
          </div>
          <div class="col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <span class="icon flaticon-zapatos font-weight-light text-white h2"></span>
              </div>
              <div class="text">
                <h3>Pasto Sint&eacutetico</h3>
                <p>Canchas m&aacutes lentas para un juego m&aacutes t&eacutecnico.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="site-block-feature d-flex p-4 rounded mb-4">
              <div class="mr-3">
                <span class="icon flaticon-pelota-de-tenis font-weight-light text-white h2"></span>
              </div>
              <div class="text">
                <h3>Cancha de cemento</h3>
                <p>Especial para un juego m&aacutes r&aacutepido.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="{% static 'website/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'website/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'website/js/jquery-ui.js' %}"></script>
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'website/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'website/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'website/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'website/js/aos.js' %}"></script>

  <script src="{% static 'website/js/main.js' %}"></script>
    
  </body>
</html>